!!! 5
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %title
    = yield_content :title
  != stylesheet_tag 'app'
%body.antialiased
  = yield
