- content_for :title do
  = "Narwhal"
.row
  .columns
    %h1
      Beer me
    %p
      Direct trade banjo pour-over artisan PBR cosby sweater, keytar williamsburg craft beer try-hard Austin dreamcatcher wolf vegan. Wayfarers chambray shoreditch readymade retro. Flannel flexitarian vinyl, cardigan small batch mumblecore squid 3 wolf moon lo-fi. American apparel ennui before they sold out gastropub marfa, small batch deep v. Food truck banjo art party neutra helvetica organic, etsy photo booth pour-over. Pour-over godard pug organic yr fashion axe. Synth before they sold out flexitarian four loko marfa, ugh raw denim disrupt thundercats leggings you probably haven't heard of them.
